#show-contact {
  display: none;
}

.contact {
  cursor: pointer;
  color: #0088cc;
}

.contact:hover {
  text-decoration: underline;
}

.btn {
  border: 2px solid red;
  padding: 2px;
  color: black;
}
